* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

a {
  color: #494949;
  text-decoration: none;
}

.home {
  padding: 5px;
  font-size: 45px; 
}

#navbar {
  position: fixed;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  border-bottom: thick solid rgb(163, 163, 163);
}

#navbar a {
  float: left;
  display: block;
  color: #494949;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: #494949;
}

#navbar a.active {
  background-color: #2ca089;
  color: white;
}

.subPages {
    background-color: #b9e5d5;
}

.main {
  margin-top: 48px;
  width: 100%;
  display: block;
  position: fixed;
  height: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .main {
  padding-top: 60px;
}

  /* Control the left side */
  .left {
    left: 0;
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    overflow-x: hidden;
    padding-top: 20px;
  }

  /* Control the right side */
  .right {
    right: 0;
    height: 100%;
    width: 74%;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

.forest {
  background-image: url("../images/bgrd_forest_green.png");
  background-repeat: repeat-y;
  background-size: 25vw;
}

.themed-font {
  color: #326056;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
}

.cards-container > a > div {
  background: #fff;
  border-radius: 25px;
  margin: 20px;
  width: 200px;
  height: 250px;
}

.cards-container > a > div > h3 {
  padding-top: 40px;
  color: #494949;
}

.description{
  padding: 10px 5px 10px 5px;
}

.tags {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  bottom: 15%;
  width: 180px;
  padding: 10px;
  text-align: center;
  font-size: small;
}
